@(postingForm: Form[(String, String, String, String, String, String)])(implicit lang: Lang)
@import tags._
@main("Bämbelville") {
    <script>
        $(document).ready(function() {
            $("#createPosting").click(update);
            $("#createPosting").keypress(update);
            $("#createPosting").keyup(update);
        });

        function update() {
            var subject = $("#subject").val();
            $('#previewSubject').html(subject);

            var name = $("#name").val();
            $('#previewName').html(name);

            var description = $("#description").val();
            $('#previewDescription').html(description);

            var contact = $("#contact").val();
            $('#previewContact').html(contact);
        }
    </script>
    @title(false)

    <div class="offset1">
    @helper.form(action = routes.Application.newPosting) {
        @helper.input(postingForm("category"), '_label -> "Kategorie") { (id, name, value, args) =>
            <div class="control-group">
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="@name" value="OFFERED" checked>
                        Geh
                    </label>
                    <label class="radio">
                        <input type="radio" name="@name" value="WANTED">
                        Neh
                    </label>
                </div>
            </div>
        }
            @helper.inputText(postingForm("subject"), '_label -> "Titel", 'class -> "span6", '_showConstraints -> false)
            @helper.textarea(postingForm("description"), '_label -> "Beschreibung", 'class -> "span6", 'rows -> "3", '_showConstraints -> false)
            @helper.inputText(postingForm("userName"), '_label -> "Name", 'class -> "span6", '_showConstraints -> false)
            @helper.inputText(postingForm("eMail"), '_label -> "E-Mail (wird nicht veröffentlicht)", 'class -> "span6", '_showConstraints -> false)
            @helper.inputText(postingForm("phone"), '_label -> "Telefon", 'class -> "span6", '_showConstraints -> false)
            <input type="submit" class="btn btn-primary" value="OK">
        <!--div data-role="fieldcontain">
            <label>Vorschau:</label>
            <ul id="preview">
                <li>
                    <h3 id="previewSubject">Titel</h3>
                    <p><strong id="previewName">Name</strong></p>
                    <p id="previewDescription">Beschreibung</p>
                    <p><strong id="previewContact">Telefon / EMail</strong></p>
                </li>
            </ul>
        </div-->
    } <!-- end form -->
    </div>
}