@(postingForm: Form[(String,String)])
@import tags._
@main("Bämbelville") {
    <script>
        $(document).ready(function() {
            $("#createPosting").click(update);
            $("#createPosting").keypress(update);
            $("#createPosting").keyup(update);
        });

        function update() {
            var subject = $("#subject").val();
            $('#previewSubject').html(subject);

            var name = $("#name").val();
            $('#previewName').html(name);

            var description = $("#description").val();
            $('#previewDescription').html(description);

            var contact = $("#contact").val();
            $('#previewContact').html(contact);
        }
    </script>
    <div data-role="page" id="createPosting">
        <div data-role="inline" id="header">
            @title()
            <div data-role="navbar">
                <ul>
                    <li><a href="listOffered" data-icon="back">Geh</a></li>
                    <li><a href="createPosting" class="ui-btn-active" data-icon="star">Gratis-Inserat Erfassen</a></li>
                    <li><a href="listWanted" data-icon="forward">Neh</a></li>
                </ul>
            </div>
            <div data-role="content">
                @helper.form(action = routes.Application.newPosting) {

                    <div data-role="fieldcontain">
                        @helper.inputText(postingForm("subject"))
                        @helper.inputText(postingForm("description"))
                    </div>

                    <input type="submit" value="OK"  />

                    <div data-role="fieldcontain">
                        <label>Vorschau:</label>
                        <ul data-role="listview" id="preview">
                            <li>
                                <h3 id="previewSubject">Titel</h3>
                                <p><strong id="previewName">Name</strong></p>
                                <p id="previewDescription">Beschreibung</p>
                                <p class="ui-li-aside"><strong id="previewContact">Telefon / EMail</strong></p>
                            </li>
                        </ul>
                    </div>
                } <!-- end form -->
            </div>
        </div>
    </div>
}