@import tags._
@main("Bämbelville") {
    <div data-role="page" id="createPosting">
        <div data-role="inline" style="width: 800px; margin: 0 auto; position: static; text-align:center;">
            @title()
            <div data-role="navbar">
                <ul>
                    <li><a href="listOffered" data-icon="back">Geh</a></li>
                    <li><a href="createPosting" class="ui-btn-active" data-icon="star">Gratis-Inserat Erfassen</a></li>
                    <li><a href="listWanted" data-icon="forward">Neh</a></li>
                </ul>
            </div>
            <div data-role="content">
                TODO
            </div>
        </div>
    </div>
}