@main("Bämbelville") {

    <div data-role="page">
        <div data-role="inline" style="width: 800px; margin: 0 auto; position: static; text-align:center;">
            <h1>Bämbelville &mdash; Geh &amp; Neh</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="a.html" class="ui-btn-active" data-icon="back">Geh</a></li>
                    <li><a href="b.html" data-icon="star">Gratis-Inserat Erfassen</a></li>
                    <li><a href="c.html" data-icon="forward">Neh</a></li>
                </ul>
            </div>
            <div data-role="content">
                <ul data-role="listview">
                    <li>
                        <h3>Mittagstisch für 10 Kinder</h3>
                        <p><strong>Carol Isenegger</strong></p>
                        <p>Es git Schnipo</p>
                        <p class="ui-li-aside"><strong>079 333 22 11</strong></p>
                    </li>
                    <li>
                        <h3>10 Salatköpfe</h3>
                        <p><strong>Rahel L&uuml;thy</strong></p>
                        <p>Kopfsalat, Batavia, Eisberg</p>
                        <p class="ui-li-aside"><strong>079 744 53 19</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}